{% extends 'base/base.html' %} 

{% load static %}
{% block start %}

<section class="container px-20 mx-auto">
    <div class="flex justify-between mt-12">
        <div>
            <h1 class="text-xl font-bold">SHOP HERE WITH YOUR CHOICES</h1>
        </div>
        <div>
            <!-- Sorting options -->
            <select id="sort-select" class="w-full px-4 py-2 text-base border border-gray-300 rounded-md select select-success lg:w-64 lg:text-base" onchange="handleSort()">
                <option disabled selected value="default">Default Sorting</option>
                <option value="price">Sort by price: Low to High</option>
                <option value="price_desc">Sort by price: High to Low</option>
                <option value="rating">Sort by rating</option>
                <option value="popularity">Sort by popularity</option>
            </select>
        </div>
    </div>
</section>

<!-- Product list -->
<section class="container px-20 mx-auto mt-12 grid grid-cols-1 lg:grid-cols-4 gap-8">
    <!-- Loop through products -->
    {% for product in products %}
    <div class="relative flex-shrink-0 mx-auto mb-12 transition-transform duration-300 transform product-item w-80 hover:-translate-y-2 hover:shadow-lg hover:border-1"
         data-price="{{ product.price }}"
         data-rating="{{ product.rating|default:0 }}"
         data-popularity="{{ product.popularity|default:0 }}">
        <div class="relative overflow-hidden cursor-pointer group bg-gray-400">
            <a href="{% url 'get_product' product.slug %}" class="block">
                <img src="/media/{{ product.product_images.first.image }}" alt="Product Image" class="object-cover w-full transition-transform duration-500 rounded-lg h-80 group-hover:scale-105" />
            </a>
            <span class="absolute px-2 py-1 text-base text-white bg-red-800 rounded-full top-4 left-4">40% OFF</span>
            <a href="productDetails.html" class="absolute inset-x-0 px-8 py-4 text-xl text-center text-white transition-all duration-300 transform translate-y-1/2 bg-yellow-500 border-2 border-transparent rounded-lg opacity-0 bottom-1/2 group-hover:opacity-100 group-hover:scale-105 hover:bg-yellow-600 hover:text-white">
                View Details
            </a>
        </div>
        <div class="p-4 text-center"> 
            <span class="block mb-2 text-sm text-gray-500">{{ product.category }}</span>
            <a href="{% url 'get_product' product.slug %}" class="block text-lg font-semibold hover:text-green-500">{{ product.product_name }}</a> 
        </div>
        <div class="flex items-center justify-center mx-6 pb-8">
            <h4 class="text-2xl font-extrabold text-lime-700 text-center">
                <span class="text-black">Tk. </span>{{ product.price }}.00
            </h4>
        </div>
    </div>
    {% endfor %}
</section>



{% endblock %}
