{% extends "base/base.html" %}


{% block start %}

<section class="min-h-[84vh] py-16 flex items-center justify-center">
    <!-- ============================ COMPONENT SIGN UP ================================= -->
    <div class="w-full max-w-md mx-auto bg-white shadow-lg rounded-lg p-6">
        <h4 class="text-2xl font-bold mb-6">Register</h4>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% include "base/alert.html" %}

            <div class="mb-4">
                <input name="first_name" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required placeholder="First Name" type="text">
            </div>
            <div class="mb-4">
                <input name="last_name" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required placeholder="Last Name" type="text">
            </div>
            <div class="mb-4">
                <input name="email" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required placeholder="Email" type="text">
            </div>
            <div class="mb-4">
                <input name="password" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required placeholder="Password" type="password">
            </div>
            <div class="mb-4">
                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Register</button>
            </div>
        </form>
        <p class="text-center text-gray-600 mt-4">Already have an account? <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Log in</a></p>
    </div>
    <!-- ============================ COMPONENT SIGN UP END ================================= -->
</section>

{% endblock %}
