.font-pecifco{
    font-family: "Pacifico", cursive;
    
  }

  .font-montserrat{
    font-family: "Montserrat", sans-serif;
  }

  .cormorant-garamond {
    font-family: "Cormorant Garamond", serif;
    
  }